<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sproject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sproject</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="authContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sproject-db.database.windows.net,1433;Initial Catalog=sproject_db;User ID=scriptopathe@sproject-db;Password=Alvidal@paris34" Name="Data Source=tcp:sproject-db.database.windows.net,1433;Initial Catalog=sproject_db;User Id=scriptopathe@sproject-db;Password=Alvidal@paris34" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SopraProject.Models.DatabaseContexts.AuthenticationContext, SopraProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="bookingContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:sproject-db.database.windows.net,1433;Initial Catalog=sproject_db;User ID=scriptopathe@sproject-db;Password=Alvidal@paris34" Name="Data Source=tcp:sproject-db.database.windows.net,1433;Initial Catalog=sproject_db;User Id=scriptopathe@sproject-db;Password=Alvidal@paris34" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SopraProject.Models.DatabaseContexts.BookingContext, SopraProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="mainContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:sproject-db.database.windows.net,1433;Initial Catalog=sproject_db;User ID=scriptopathe@sproject-db;Password=Alvidal@paris34" Name="Data Source=tcp:sproject-db.database.windows.net,1433;Initial Catalog=sproject_db;User Id=scriptopathe@sproject-db;Password=Alvidal@paris34" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SopraProject.Models.DatabaseContexts.MainContext, SopraProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)authContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sproject-db.database.windows.net,1433;Initial Catalog=sproject_db;User Id=scriptopathe@sproject-db;Password=Alvidal@paris34</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)bookingContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sproject-db.database.windows.net,1433;Initial Catalog=sproject_db;User Id=scriptopathe@sproject-db;Password=Alvidal@paris34</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mainContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sproject-db.database.windows.net,1433;Initial Catalog=sproject_db;User Id=scriptopathe@sproject-db;Password=Alvidal@paris34</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>