<div class="container" ng-controller="indexController">
	

	<div class="panel panel-default">
		<div class="panel-heading">User default location</div>
		<div class="panel-body">
			<form role="form" class="form form-horizontal">
				<!-- FORM GROUP LOCATION -->
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Location : </label>
					<div class="col-sm-3">
						<select class="form-control form-control-sm" ng-model="userLocation">
							<option ng-repeat="(id, site) in sites" value="{{site.id}}">
							{{ site.id == defaultUserLocation ? site.name + " (default)" : site.name }}

							</option>
						</select>
					</div>
					<div class="col-sm-2">
						<button ng-click="setDefaultLocation(userLocation)" class="btn btn-primary btn-sm">Set as default.</button> 
					</div>
					<div class="col-sm-5">
						<strong>Address : </strong> {{ sites[userLocation].address }}
					</div>
				</div>
				<!-- SET AS DEFAULT -->
				<div class="form-group form-group-sm">
					<div class="col-sm-7"></div>
					<div class="col-sm-5">
						<strong>Default location : </strong> {{ sites[defaultUserLocation].name }}.
					</div>
				</div>
			</form>
		</div>
	</div>

<!-- ROOM SEARCHING  -->

	<div class="panel panel-default">
		<div class="panel-heading">Room Searching</div>

			<div class="form-group form-group-sm">
				<br/>
				<div class="col-sm-5"></div>
				<div class="col-sm-5">
					<h4>Research on Site {{ sites[userLocation].id }}.</h4> 
				</div>

			</div>
        
        <!-- FORM -->
		<div class="panel-body">

            <table class="table">
                <tr>
                    <!-- TABLE COLUMN 1 -->
                    <th>
                        <form name="searchForm" role="form" class="form form-horizontal">
                            <!-- NUMBER OF PEOPLE -->
                            <div class="form-group">
                                <label class="control-label col-sm-3">Room Capacity : </label>
                                <div class="col-sm-6">
                                    <input  style="{{searchForm.userCountInput.$valid ? '' : 'color: red;'}}"
                                            type="number" name="userCountInput" min="0" class="form-control" ng-model="userCount" placeholder="Number of users">

                                    <div class="alert alert-danger" ng-if="searchForm.userCountInput.$error.min">The number of users must be greater or equal than 0.</div>
                                    <div class="alert alert-danger" ng-if="searchForm.userCountInput.$error.number">This value must be a number</div>
                                </div>
                            </div>

                            <!-- MEETING DURATION -->
                            <div class="form-group">
                                <label class="control-label col-sm-3">Meeting Duration </label>
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="meetingDuration" ng-init="meetingDuration = 15">
                                        <option ng-repeat="(id, value) in durations" value="{{value.v}}">{{value.h}}</option>
                                    </select>
                                </div>
                            </div>

                            <!-- START DATE -->
                            <div class="form-group">
                                <label class="control-label col-sm-3">Start Date : </label>
                                <div class='col-sm-6'>
                                    <div class='input-group date' data-provide='datepicker' id='startdatePicker'>
                                        <input type='text' ng-model="startDate" class="form-control" placeholder="DD/MM/YYYY-hh:mm:ss" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <!-- END DATE -->
                            <div class="form-group">
                                <label class="control-label col-sm-3">End Date : </label>
                                <div class='col-sm-6'>
                                    <div class='input-group date' data-provide='datepicker' id='enddatePicker'>
                                        <input type='text' ng-model="endDate" class="form-control" placeholder="DD/MM/YYYY-hh:mm:ss" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- ROOM SEARCH BUTTON -->
                            <div class="form-group">
                                <label class="col-sm-3"> </label>
                                <div class="col-sm-6">
                                    <button ng-disabled="!searchForm.$valid" ng-click="roomSearching()" class="btn btn-primary btn-lg">Run</button>
                                </div>
                            </div>
                        </form>

                    </th>
                    <!--TABLE COLUMN 2 -->
                    <th>

                        <form role="form" class="form form-horizontal">
                            <!-- PARTICULARITIES -->
                            <div class="form-group">
                                <label class="control-label col-sm-3">Features : </label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div style="margin-bottom: 12px;" ng-repeat="(id, particularity) in particularities" class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="particularity.selected" />
                                            </span>
                                            <input type="text" class="form-control" value="{{particularity.name}}" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </th>

                </tr>

            </table>

        </div>


	</div>

    <!-- RESULTS -->

	<div class="panel panel-default">
	    <div class="panel-heading">Results</div>	
        <!-- ERROR TEXT -->		
        <div style="margin-bottom: -1em;" ng-show="inputError" class="form-group">
            <div class="alert alert-danger">
                {{inputErrorText}}
            </div>
        </div>

        <!-- LOADING BAR -->
        <div ng-show="searchLoading">
            <center><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</center>
        </div>

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li ng-repeat="room in searchResults" role="presentation">
                    <a href="#roomTab{{room.id}}" aria-controls="roomTab{{room.id}}" role="tab" data-toggle="tab">{{room.name}}</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div ng-repeat="room in searchResults" role="tabpanel" class="tab-pane" id="roomTab{{room.id}}">
                    <div class="container">
                        <!-- Room summary -->
                        <table>
                            <tr>
                                <td width="200">
                                    <img src="@Url.Content("~/Assets/user-icon.png")" width="64" height="64" /> {{room.capacity}} seats.
                                </td>
                                <td>
                                    <p ng-repeat="(id, partName) in room.particularities">
                                        <img src="@Url.Content("~/Assets/success-icon.png")" width="16" height="16" /> {{partName}}
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <!-- Booking candidates -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="200">Day</th>
                                    <th>Start Time</th>
                                    <th>End time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(day, bookings) in room.bookings">
                                    <td>
                                        {{day}}

                                    </td>
                                    <td>
                                        <p ng-repeat="booking in bookings track by $index">
                                            {{booking.startTime}}
                                        </p>
                                    </td>
                                    <td>
                                        <p ng-repeat="booking in bookings track by $index">
                                            {{booking.endTime}}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
	</div>
</div>