<div class="container" ng-controller="indexController">
	

	<div class="panel panel-default">
		<div class="panel-heading">User default location</div>
		<div class="panel-body">
			<form role="form" class="form form-horizontal">
				<!-- FORM GROUP LOCATION -->
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Location : </label>
					<div class="col-sm-3">
						<select class="form-control form-control-sm" ng-model="userLocation">
							<option ng-repeat="(id, site) in sites" value="{{site.id}}">
							{{ site.id == defaultUserLocation ? site.name + " (default)" : site.name }}

							</option>
						</select>
					</div>
					<div class="col-sm-2">
						<button ng-click="setDefaultLocation(userLocation)" class="btn btn-primary btn-sm">Set as default.</button> 
					</div>
					<div class="col-sm-5">
						<strong>Address : </strong> {{ sites[userLocation].address }}
					</div>
				</div>
				<!-- SET AS DEFAULT -->
				<div class="form-group form-group-sm">
					<div class="col-sm-7"></div>
					<div class="col-sm-5">
						<strong>Default location : </strong> {{ sites[defaultUserLocation].name }}.
					</div>
				</div>
				User location : {{ userLocation }} {{ sites[userLocation].name }}
			</form>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Room Searching</div>
		<div class="panel-body">
			<form role="form" class="form form-horizontal">
				<label class="control-label col-sm-2">Room Capacity : </label>
				<div class="col-sm-5">
					<div class="input-group" >
						<input type="text" class="form-control" placeholder="Number of users" aria-describedby="basic-addon1">
					</div>
				</div>
			</form>
		</div>

		<div class="panel-body">
			<form role="form" class="form form-horizontal">
				<!-- DATE  -->
				<div class="container">
				    <div class="row">
				    <label class="control-label col-sm-2">Date : </label>
				        <div class='col-sm-3'>
				            <div class="form-group">
				                <div class='input-group date' id='datetimepicker1'>
				                    <input type='text' class="form-control" placeholder="DD/MM/YYYY" />
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

			</form>
		</div>
	</div>

</div>