<div class="container" ng-controller="reportController">

	<div class="panel panel-default">
		<div class="panel-heading">Room Selection</div>
		<div class="panel-body">
			<form role="form" class="form form-horizontal">
				<!-- SITE SELECTION -->
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Location : </label>
					<div class="col-sm-3">
						<select class="form-control form-control-sm" ng-model="selectedLocation">
							<option ng-repeat="site in sites" value="{{site.id}}">
							{{ site.name }}

							</option>
						</select>
					</div>
				</div>
				<!-- ROOM SELECTION -->
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Room : </label>
					<div class="col-sm-3">
						<select class="form-control form-control-sm" ng-model="selectedRoom">
							<option ng-repeat="room in rooms" value="{{room.id}}">
							{{ room.name }}

							</option>
						</select>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-body">
			<form role="form" class="form form-horizontal">
				<label class="control-label col-sm-2"> </label>
				<div class="col-sm-2">
					<!-- CHANGER LA FOCNTION -->
					<button ng-click="loadCharts()" class="btn btn-primary btn-lg">Generate</button> 
				</div>
			</form>
		</div>
	</div>

    <div class="panel panel-default" ng-repeat="(key, value) in metrics" id="{{key}}Tab">
        <div class="panel-heading">
            <h4>{{chartNames[key]}}</h4>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="col-md-2" ng-repeat="(statkey, statvalue) in stats[key]">
                    <strong>{{statkey}}</strong><br /> {{statvalue}}

                </div>
            </div>
            <hr />

            <div id="{{key}}ChartContainer">
           		<div class="container-fluid" style="margin-right: 1.5em;"><canvas id="{{key}}Chart" width="600" height="120"></canvas></div>
            </div>

        </div>
    </div>

</div>